* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_2 {
  width: 393px;
  height: 852px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v109_106 {
  width: 473px;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v2_3 {
  width: 300px;
  height: 220px;
  background: url("../images/v2_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 46px;
  overflow: hidden;
}
.v2_4 {
  width: 293px;
  height: 16px;
  background: url("../images/v2_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 3px;
  overflow: hidden;
}
.v2_5 {
  width: 128px;
  color: rgba(75,69,148,1);
  position: absolute;
  top: 0px;
  left: 165px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_6 {
  width: 108px;
  color: rgba(44,18,88,1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_7 {
  width: 18px;
  height: 16px;
  background: rgba(34,73,87,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v2_8 {
  width: 300px;
  height: 42px;
  background: url("../images/v2_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 0px;
  overflow: hidden;
}
.v2_9 {
  width: 300px;
  height: 42px;
  background: rgba(68,183,94,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v2_10 {
  width: 44px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 12px;
  left: 128px;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v2_11 {
  width: 300px;
  height: 42px;
  background: url("../images/v2_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  overflow: hidden;
}
.v2_12 {
  width: 300px;
  height: 42px;
  background: rgba(68,183,94,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_13 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 12px;
  font-family: Lexend Deca;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_14 {
  width: 300px;
  height: 42px;
  background: url("../images/v2_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_15 {
  width: 300px;
  height: 42px;
  background: rgba(68,183,94,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_16 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 7px;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v102_2 {
  width: 323px;
  height: 324px;
  background: url("../images/v102_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 49px;
  overflow: hidden;
}
.v107_55 {
  width: 245px;
  height: 502px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 962px;
  left: 788px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v107_59 {
  width: 245px;
  height: 502px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 962px;
  left: 1144px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v107_63 {
  width: 40px;
  height: 39px;
  background: rgba(68,183,94,1);
  opacity: 1;
  position: absolute;
  top: 1405px;
  left: 890px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v107_66 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 897px;
  left: 812px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v107_67 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 909px;
  left: 1205px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v107_68 {
  width: 165px;
  height: 26px;
  background: rgba(172,172,172,1);
  opacity: 1;
  position: absolute;
  top: 1118px;
  left: 1184px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v107_69 {
  width: 111px;
  height: 31px;
  background: rgba(68,183,94,1);
  opacity: 1;
  position: absolute;
  top: 1319px;
  left: 1211px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v107_70 {
  width: 91px;
  color: rgba(32,32,32,1);
  position: absolute;
  top: 1313px;
  left: 1221px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v107_71 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1078px;
  left: 1184px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v107_72 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1019px;
  left: 850px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
